.container-fluid.dark {
    background: black!important;
    color: white;
}
.container-fluid {
    /* height: 1000vh; */
}

button.backToTopBtn {
    border: none;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 15px;
    border-radius: 50%;
    font-size: 25px;
    opacity: .8;
    background: #bebebe;
}

button.backToTopBtn:hover {
    background: black;
    color: white;
}

.dark button.backToTopBtn {
    background: #474747;
    color: white;
}

.dark button.backToTopBtn:hover {
    background: #bebebe;
    color: black;
}
.dark table tr:nth-child(even) {
    background-color: grey;
}
